<header class="header-section position-absolute w-100 d-flex justify-content-around align-items-center">
    <div class="logo-section">
        <a routerLink="#">
            <img src="/assets/img/logo.svg" alt="Logo Il Sapore" class="my-3">
        </a>
    </div>
    <div class="main-section d-flex justify-content-lg-around align-items-center justify-content-end">
        <nav class="d-none d-lg-block">
            <ul class="nav-parent d-flex justify-content-around">
                <li class="menu-parent">
                    <a routerLink="home">HOME</a>
                </li>
                <li class="menu-parent">
                    <a routerLink="about-us">ABOUT US</a>
                </li>
                <li class="menu-parent">
                    <a routerLink="menu">MENU</a>
                </li>
                <li class="menu-parent">
                    <a routerLink="contact-us">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="action-section d-none d-lg-block">
            <a href="#" class="book-parent d-flex justify-content-center align-items-center">
                <mat-icon class="svg-icon" aria-hidden="true" aria-label="Restaurant icon">restaurant</mat-icon>
                <h3>BOOK A TABLE</h3>
            </a>
        </div>
        <div class="burger-menu d-lg-none">
            <img src="/assets/img/menu_white_burger.svg" alt="">
        </div>
    </div>
</header>
