.fixed-navbar {
    opacity: 0;
    background-color: #fff;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 .5em rgba(198, 164, 113, 0.3);

    .logo-section img {
        width: 10em;
    }

    .menu-parent a, 
    .book-parent h3,
    .restaurant-icon,
    .menu-icon {
        color: #C6A471;
    }
    
    .book-parent {
        border: 2px solid #C6A471;
    }
    
    .menu-parent a:hover,
    li.active-page a {
        color: #545454;
    }
    
    .book-parent:hover {
        border: 2px solid #545454;
    }

    .book-parent:hover .restaurant-icon,
    .book-parent:hover h3 {
        color: #545454;
    }

    @media screen and (max-width: 680px) {
    
        .logo-section img {
            width: 9em;
        }
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

header {
    top: 0;
    left: 0; 
    z-index: 20;
}

.logo-section img {
    width: 13em;
}

.main-section {
    width: 45%;
}

.main-section nav {
    width: 70%;
}

nav ul {
    list-style: none;
    padding: 0 20px 0 0;
    margin: 16px 0 16px 0;
}

.menu-parent a {
    padding: 10px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1.8px;
}

.menu-parent a:hover,
li.active-page a {
    color: #545454;
}

.action-section {
    width: 25%;
}

.book-parent {
    border: 2px solid #fff;
    text-decoration: none;
    padding: 17px 10px;
    cursor: pointer;
}

.restaurant-icon {
    color: #fff;
    font-size: 1em;
    width: 1em;
    height: 1em;
}

.book-parent h3 {
    margin: 0 0 0 10px;
    color: #fff;
    letter-spacing: 1.8px;
    font-size: initial;
    font-weight: bold;
    line-height: initial;
}

.book-parent:hover, 
.book-parent:active {
    border: 2px solid #545454;
}

.book-parent:hover .restaurant-icon,
.book-parent:hover h3 {
    color: #545454;
}

.menu-icon {
    color: #fff;
    transform: scale(1.7);
}

@media screen and (max-width: 1415px) {

    .menu-parent a {
        font-size: 1em;
        letter-spacing: 1px;
        padding: 10px 5px;
    }

    .action-section {
        width: 33%;
    }

    .book-parent h3 {
        font-size: 1em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1050px) {

    .main-section {
        width: 55%;
    }
}

@media screen and (max-width: 680px) {

    .main-section {
        width: 40%;
    }

    .logo-section img {
        width: 9em;
    }

    .menu-icon {
        margin-right: 10px;
        transform: scale(1.5);
    }
}