<footer class="mt-auto">
    <section class="footer-container w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="top-cards-container row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-5">
            <div class="welcome-card col">
                <a routerLink="/home"><img src="/assets/img/logo-withe.svg" alt=""></a>
                <p>Dear guests, you are welcomed to dine with us at Il Sapore restaurant. Have a pleasant dining
                    experience.
                </p>
                <img src="/assets/img/signature-gold.svg" alt="">
            </div>
            <div class="links-card col">
                <h3>Il Sapore</h3>
                <a (click)="openDialog()">Book a tabel</a>
                <a routerLink="/menu">Menu</a>
                <a routerLink="/about-us">About us</a>
                <a routerLink="/contact-us">Contact</a>
            </div>
            <div class="footer-address-card col">
                <h3>Address</h3>
                <address class="mb-0">
                    <a href="tel:+15133523209">+1 (513) 352-3209</a><br>
                    <a href="mailto:hello@ilsapore.com">hello@ilsapore.com</a>
                </address>
                <p>3805 Edwards Rd, Cincinnati, Ohio</p>
                <p>45209 USA</p>
            </div>
            <div class="program-hours-card col">
                <h3>Hours of opening</h3>
                <p>Monday: <span>Closed</span></p>
                <p>Tuesday-Saturday: <span>10h-22h</span></p>
                <p>Sunday: <span>12h-22h</span></p>
            </div>
            <div class="newsletter-card col">
                <h3>Subscribe</h3>
                <p>Delicious recipies directly to your inbox</p>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div>
                        <input type="email" name="mail" id="email" placeholder="Email address" [pattern]="emailPattern" formControlName="email">
                        <div
                          *ngIf="email.invalid && email.touched" 
                          class="validation">
                            <small *ngIf="email.errors?.pattern">
                                Invalid email address
                            </small>
                        </div>
                    </div>
                    <div>
                        <button type="submit">SUBSCRIBE</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom-cards-container w-100">
            <div class="bottom-cards-subcontainer row row-cols-1 row-cols-xxl-3 align-items-center">
                <div class="social-media-icons d-flex justify-content-center justify-content-xl-start col col-xl-6 col-xxl-3">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
                <div class="author-rights col col-xl-6 d-flex justify-content-center">
                    <p>&copy; Copyright 2021 Sirbu Emil. All rights reserved.</p>
                </div>
            </div>
        </div>
    </section>
</footer>