<app-slideshow></app-slideshow>
<main>
    <section class="story-container">
        <div class="story-text">
            <div class="text-description">
                <span class="like-button-style">Our Story</span>
                <h1>A joyous eatery inspired by the culture of italian cuisine</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. </p>
            </div>
            <div class="text-author">
                <div class="text-author-image">
                    <img src="/assets/img/Gennaro-Contaldo.jpg" alt="">
                </div>
                <div class="text-author-name">
                    <h3>Gian Carlo Peroni</h3>
                    <p>The God of Pasta</p>
                </div>
            </div>
        </div>
        <div class="story-images">
            <div class="story-images-top">
                <img src="/assets/img/carbonara.jpg" alt="">
                <img src="/assets/img/burata.jpg" alt="">
            </div>
            <div class="story-images-bottom">
                <img src="/assets/img/pizza.jpg" alt="">
                <img src="/assets/img/pasta-fresca.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="reservation-container">
        <div class="reservation-card">
            <div class="reservation-card-child">
                <img src="/assets/icon/reservation-icon.svg" alt="">
                <h1>Make a Reservation</h1>
                <p>Opens 10:00 AM - 10:00 PM, every day of the week</p>
                <button (click)="openDialog()">BOOK A TABLE</button>
            </div>
        </div>
        <div class="image-card">
            <img src="/assets/img/reservation-image.jpg" alt="">
        </div>
    </section>
    <app-menu></app-menu>
</main>
