<div class="slideshow-container">
    <div class="slide-image visible-image">
        <img src="assets/img/two-plate-pasta.jpg" alt="">
    </div>
    <div class="slide-image">
        <img src="./img/burrata.jpg" alt="">
    </div>
    <div class="slide-image">
        <img src="./img/pizza-lasagna.jpg" alt="">
    </div>

    <div class="slideshow-buttons">
        <button id="slideshow-button-prev" aria-label="Previous image"><</button>
                <button id="slideshow-button-next" aria-label="Next image">></button>
    </div>

    <div class="slideshow-text">
        <h1>Pray Love Eat</h1>
        <p>- Since 1920 -</p>
    </div>
</div>
<main>
    <section class="story-container">
        <div class="story-text">
            <div class="text-description">
                <span class="like-button-style">Our Story</span>
                <h1>A joyous eatery inspired by the culture of italian cuisine</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. </p>
            </div>
            <div class="text-author">
                <div class="text-author-image">
                    <img src="assets/img/Gennaro-Contaldo.jpg" alt="">
                </div>
                <div class="text-author-name">
                    <h3>Gian Carlo Peroni</h3>
                    <p>The God of Pasta</p>
                </div>
            </div>
        </div>
        <div class="story-images">
            <div class="story-images-top">
                <img src="assets/img/carbonara.jpg" alt="">
                <img src="assets/img/burata.jpg" alt="">
            </div>
            <div class="story-images-bottom">
                <img src="assets/img/pizza.jpg" alt="">
                <img src="assets/img/pasta-fresca.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="reservation-container">
        <div class="reservation-card">
            <div class="reservation-card-child">
                <img src="./icon/reservation-icon.svg" alt="">
                <h1>Make a Reservation</h1>
                <p>Opens 10:00 AM - 10:00 PM, every day of the week</p>
                <a href="#">BOOK A TABLE</a>
            </div>
        </div>
        <div class="image-card">
            <img src="assets/img/reservation-image.jpg" alt="">
        </div>
    </section>
    <section class="menu-container">
        <div class="text-menu">
            <span class="like-button-style">Our Specials</span>
            <h1>Today's Special</h1>
            <p>The time has come to bring those ideas and plans to life. This is where we really begin to visualize.
            </p>
        </div>
        <div class="images-menu">
            <div class="box-1 description-dish">
                <h2 class="h2-tag-1"></h2>
                <p class="para-tag-1"></p>
                <a href="#">VIEW FULL MENU</a>
            </div>
            <div class="box-2 image-dish">
            </div>
            <div class="box-3 description-dish">
                <h2 class="h2-tag-3"></h2>
                <p class="para-tag-3"></p>
                <a href="#">VIEW FULL MENU</a>
            </div>
            <div class="box-4 image-dish">
            </div>
            <div class="box-5 image-dish">
            </div>
            <div class="box-6 description-dish">
                <h2 class="h2-tag-6"></h2>
                <p class="para-tag-6"></p>
                <a href="#">VIEW FULL MENU</a>
            </div>
            <div class="box-7 image-dish">
            </div>
            <div class="box-8 description-dish">
                <h2 class="h2-tag-8"></h2>
                <p class="para-tag-8"></p>
                <a href="#">VIEW FULL MENU</a>
            </div>
        </div>
    </section>
</main>
