/* || General styles */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: 'Arapey', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: 'Great Vibes', cursive; */  /* Asta probabil o sa-l folosesc in alta pagina, daca nu, il sterg */ 
}

/* || Typography */

h1, h2 {
    font-family: 'Arapey', serif;
}

li, p, h3, h4 {
    font-family: 'Advent Pro', sans-serif;
}

/* || Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #5454548a; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
}

.logo-section img {
    width: 15em;
    margin: 20px 0;
}

.main-section {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.main-section nav {
    width: 70%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0 20px 0 0;
}

.menu-parent a {
    padding: 10px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1.8px;
}

.action-section {
    width: 30%;
}

.book-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 17px 10px;
}

.book-parent img {
    width: 1em;
}

.book-parent h3 {
    margin: 0 0 0 10px;
    color: #fff;
    letter-spacing: 1.8px;
}

.burger-menu {
    display: none;
}

.menu-parent a:hover {
    color: #545454;
}

.book-parent:hover {
    border: 2px solid #545454;
}

/* || Footer */

footer {
    margin-top: auto;
}

.footer-container {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(70deg, rgba(84, 84, 84, 1) 45%, rgba(198, 164, 113, 0.5) 100%), url("./img/made-pasta.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Top container */

.top-cards-container {
    margin: 20px 300px 70px 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.top-cards-container>* {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.top-cards-container h3 {
    margin-top: 35px;
    margin-bottom: 40px;
}

.top-cards-container div:nth-child(n+2) p {
    margin: 0;
    line-height: 1.5;
}

/* Welcome card */

.welcome-card {
    padding-right: 50px;
}

.welcome-card a img {
    width: 10em;
    padding-top: 10px;
}

.welcome-card p {
    margin-bottom: 0;
    line-height: 1.5;
}

.welcome-card p+img {
    width: 10em;
    padding-top: 5px;
}

/* Links card */

.links-card {
    padding-left: 40px;
}

.links-card a {
    color: #fff;
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
    line-height: 1.5;
}

.links-card a:hover {
    color: #C6A471;
    text-decoration: underline;
}

/* Address card */

.footer-address-card a {
    text-decoration: none;
    color: #C6A471;
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    line-height: 1.5;
}

/* Program card */

.program-hours-card span {
    font-style: italic;
    letter-spacing: 0.6px;
}

/* Newsletter card */

.newsletter-card input[type=email], .newsletter-card input[type=submit] {
    width: 190px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin-top: 8px;
    outline: none;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
}

.newsletter-card input[type=submit] {
    background-color: #000;
    color: rgba(198, 164, 113, 0.9);
    letter-spacing: 0.5px;
    cursor: pointer;
}

.newsletter-card input[type=submit]:hover {
    background-color: rgb(32, 32, 32);
}

/* Bottom container */

.bottom-cards-container {
    width: 100%;
}

.bottom-cards-subcontainer {
    margin: 0 300px 0 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

/* Social media icons */

.social-media-icons a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

.social-media-icons a:hover {
    color: #C6A471;
}

/* Author rights */

.author-rights {
    display: flex;
    justify-self: center;
}

.author-rights p {
    color: #fff;
}

/* || Breakpoints */

@media screen and (max-width: 1415px) {
    /* Header */
    .menu-parent a {
        font-size: 1em;
        letter-spacing: 1px;
        padding: 10px 5px;
    }
    .book-parent h3 {
        font-size: 1em;
        letter-spacing: 1px;
    }
    /* Footer */
    .top-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container {
        height: 750px;
    }

    .links-card {
        padding-left: 0;
    }
    
    .bottom-cards-subcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 1050px) {
    /* Header */
    .main-section nav, .action-section {
        display: none;
    }
    .main-section {
        justify-content: flex-end;
    }
    .burger-menu {
        display: flex;
    }
    .burger-menu img {
        width: 3em;
    }
    /* Footer */
    .bottom-cards-subcontainer {
        margin: 0 200px 0 200px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .social-media-icons {
        display: flex;
        justify-self: center;
    }
}

@media screen and (max-width: 680px) {
    /* Header */
    .logo-section img {
        width: 11em;
    }
    .burger-menu img {
        width: 2.5em;
    }
    /* Footer */
    .footer-container {
        height: 800px;
    }
    .top-cards-container {
        margin: 20px 40px 70px 80px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
    }
    .top-cards-container h3 {
        font-size: 1em;
        margin-top: 25px;
        margin-bottom: 35px;
    }
    /* Welcome card */
    .welcome-card {
        padding-right: 20px;
    }
    .welcome-card a img {
        width: 9em;
        padding-top: 5px;
    }
    .welcome-card p {
        font-size: 0.9em;
        margin-bottom: 0;
        line-height: 1.3;
    }
    .welcome-card p+img {
        width: 9em;
        padding-top: 5px;
    }
    
    /* Links & Address cards & <p> elements */

    .links-card a,
    .address-card a,
    .top-cards-container div:nth-child(n+2) p {
        font-size: 0.9em;
        line-height: 1.3;
    }

    /* Bottom container */

    .bottom-cards-subcontainer {
        margin: 0 80px 0 80px;
    }

    /* Author rights */

    .author-rights p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 490px) {

    /* Footer */
    .footer-container {
        height: 950px;
    }

    .top-cards-container {
        margin: 20px 40px 70px 40px;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .top-cards-container h3 {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    /* Bottom container */

    .bottom-cards-subcontainer {
        margin: 0 40px 0 40px;
    }

}