<div class="hero-container">
    <div class="hero-image">
        <img src="/assets/img/contact-us-hero-image.jpg" alt="">
    </div>
    <div class="hero-text">
        <h1>Contact Us</h1>
    </div>
</div>
<main>
    <section class="contact-container">
        <div class="contact-info-container">
            <div class="contact-card">
                <h2>Contacts</h2>
                <address>
                    <div class="phone-number">
                        <img src="/assets/icon/phone-icon.svg" alt="">
                        <a href="tel:+15133523209">+1 (513) 352-3209</a><br>
                    </div>
                    <div class="email-address">
                        <img src="/assets/icon/email-icon.svg" alt="">
                        <a href="mailto:hello@ilsapore.com">hello@ilsapore.com</a>
                    </div>
                </address>
                <div class="address-card">
                    <img src="/assets/icon/place-icon.svg" alt="">
                    <p>3805 Edwards Rd, Cincinnati, Ohio, 45209 USA</p>
                </div>
            </div>
            <div class="ilustration-card">
                <img src="/assets/img/contact-us-ilustration.svg" alt="">
            </div>
        </div>
        <div class="contact-form-container">
            <form action="">
                <label for="fname">First Name<span>*</span></label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name<span>*</span></label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="country">Email<span>*</span></label>
                <input type="email" id="f/email" name="mail" placeholder="Your email address.." required>

                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Write subject..">

                <label for="message">Message<span>*</span></label>
                <textarea id="message" name="message" placeholder="Write message.."></textarea>

                <input type="submit" value="SEND">
            </form>
        </div>
    </section>
    <section class="map-container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6188.343124793!2d-84.44773539630172!3d39.148079346078084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841b287364d37bb%3A0x4a840e001a3811a3!2s3805%20Edwards%20Rd%2C%20Cincinnati%2C%20OH%2045208%2C%20Statele%20Unite%20ale%20Americii!5e0!3m2!1sro!2sro!4v1618154326140!5m2!1sro!2sro"
            allowfullscreen="" loading="lazy"></iframe>
    </section>
</main>
