<div class="hero-container">
    <div class="hero-image">
        <img src="assets/img/dough.jpg" alt="">
    </div>
    <div class="hero-text">
        <h1>A Family Story</h1>
        <p>- Since 1920 -</p>
    </div>
</div>
<main>
    <section class="story-container">
        <div class="story-images">
            <img src="assets/img/lasagna.jpg" alt="">
            <div class="grid-box1">
                <img src="assets/img/bread.jpg" alt="">
                <img src="assets/img/passione.svg" alt="">
            </div>
            <div class="grid-box2">
                <img src="assets/img/chees-garlic.jpg" alt="">
            </div>
            <img src="assets/img/bruscheta.jpg" alt="">
        </div>
        <div class="story-description">
            <h1>It's all about passion</h1>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                anything embarrassing hidden in the middle of text. If you are going to use a passage of Lorem
                Ipsum, you need to be sure there isn't
                anything embarrassing hidden in the middle of text.</p>
            <img src="./img/signature-peroni-family-black.svg" alt="">
        </div>
    </section>
</main>