<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="fname">First Name<span>*</span></label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." formControlName="fname">
        <div
          *ngIf="formInput.fname.touched" 
          class="validation">
            <small *ngIf="formInput.fname.errors?.required">
                The first name field can't be empty
            </small>
            <small *ngIf="formInput.fname.errors?.minlength">
                The first name should have a minimum of {{formInput.fname.errors?.minlength.requiredLength}} letters
            </small>
        </div>

        <label for="lname">Last Name<span>*</span></label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." formControlName="lname"> 
        <div
          *ngIf="formInput.lname.touched" 
          class="validation">
            <small *ngIf="formInput.lname.errors?.required">
                The last name field can't be empty
            </small>
            <small *ngIf="formInput.lname.errors?.minlength">
                The last name should have a minimum of {{formInput.lname.errors?.minlength.requiredLength}} letters
            </small>
        </div>

        <label for="email">Email<span>*</span></label>
        <input type="email" id="email" name="email" placeholder="Your email address.." [pattern]="emailPattern" formControlName="email">
        <div
          *ngIf="formInput.email.invalid && formInput.email.touched" 
          class="validation">
            <small *ngIf="formInput.email.errors?.required">
                The email field can't be empty
            </small>
            <small *ngIf="formInput.email.errors?.pattern">
                Invalid email address
            </small>
        </div>

        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Write subject.." formControlName="subject">
        <div
          *ngIf="formInput.subject.dirty" 
          class="validation">
            <small *ngIf="formInput.subject.errors?.minlength">
                The subject should have a minimum of {{formInput.subject.errors?.minlength.requiredLength}} letters
            </small>
        </div>

        <label for="message">Message<span>*</span></label>
        <textarea type="text" id="message" name="message" placeholder="Write message.." formControlName="message"></textarea>
        <div
          *ngIf="formInput.message.touched" 
          class="validation">
            <small *ngIf="formInput.message.errors?.required">
                The message field can't be empty
            </small>
            <small *ngIf="formInput.message.errors?.minlength">
                The message should have a minimum of {{formInput.message.errors?.minlength.requiredLength}} characters
            </small>
        </div>

        <button type="submit" [disabled]="form.invalid">SEND</button>
    </form>
</div>