<div class="slideshow-container">
    <div class="slide-image visible-image" *ngFor="let slide of slides; let imgIndex = index">
        <ng-container *ngIf="imgIndex === currentIndex">
            <img [src]="slide.src">
        </ng-container>
    </div>
    <div class="slideshow-buttons">
        <button id="slideshow-button-prev" (click)="pre()" aria-label="Previous image"><</button>
        <button id="slideshow-button-next" (click)="next()" aria-label="Next image">></button>
    </div>
    <div class="slideshow-text">
        <h1>Pray Love Eat</h1>
        <p>- Since 1920 -</p>
    </div>
</div>
