<div class="slideshow-container">
    <div class="slide-image visible-image" *ngFor="let slide of slides; let imgIndex = index">
        <ng-container *ngIf="imgIndex === currentIndex">
            <img [@box] [src]="slide.src">
        </ng-container>
    </div>
    <div class="slideshow-buttons">
        <button (click)="pre()" aria-label="Previous image">                
            <mat-icon class="svg-icon" aria-hidden="true" aria-label="Navigate Before">navigate_before</mat-icon>
        </button>
        <button (click)="next()" aria-label="Next image">
            <mat-icon class="svg-icon" aria-hidden="true" aria-label="Navigate Next">navigate_next</mat-icon>
        </button>
    </div>
    <div class="slideshow-text">
        <h1>Pray Love Eat</h1>
        <p>- Since 1920 -</p>
    </div>
</div>
