<section class="menu-container">
    <div class="text-menu">
        <span class="like-button-style">Our Specials</span>
        <h1>Today's Special</h1>
        <p>The time has come to bring those ideas and plans to life. This is where we really begin to visualize.
        </p>
    </div>
    <div class="images-menu">
        <ng-container *ngFor="let pasta of pastas">
            <div class="description-dish" >
                <h2>{{ pasta.title | titlecase}}</h2>
                <a (click)="goToMenuPage()">VIEW FULL MENU</a>
            </div>
            <div>
                <img src="{{ pasta.image }}">
            </div>
        </ng-container>
    </div>
</section>